<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.CY-ED3CCAF2-9B79-11E8-A510-6C40089D3C08.com.cydia.Extender</string>
	</array>
</dict>
</plist>
